@charset "utf-8";

// 폰트 IBM Plex Sans KR // font-family: 'IBM Plex Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;600;800;900&display=swap');
// 폰트 나눔고딕 // font-family: 'Nanum Gothic', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

// 컬러 팔레트
$bg-color:#222;
// 클래스 팔레트
.flexCenter{display: flex; align-items: center; justify-content: center; vertical-align: middle;}


// ★ 공통 영역
body{color: white; overflow: hidden;  font-family: 'IBM Plex Sans KR', sans-serif;
    }
section{
    font-size: 60px; opacity: 1; cursor: pointer; transform: scale(.92);
    background: rgba(255, 255, 255, .1); opacity: 0; transition: .5s;
    &:hover{opacity: 1; transform: scale(.85); border: 2px solid white; }
    div{
        width: 400px; text-align: center; position: absolute; 
        display: flex; flex-direction: column; justify-content: center;
        }
}
.subPage{
        background: rgba(0, 0, 0, .85);
        width: 100%; height: 100%; z-index: 3; 
        position: absolute; transition: .5s ease-in-out; scale: .1;
}

.fa-html5{color: #e67533;}
.fa-css3-alt{color: #3789cc;}
.fa-bootstrap{color: #dd60e9;}
.fa-sass{color: #c95189;}
.fa-js{color: #e4b51a;}





#main{width: 100vw; height: 100vh; position: relative;  overflow: hidden;}
// ★ 메인 섹션

#thumbnail{position: absolute; left: -500%;} // 링크시 썸네일을 위한 의미없는 요소

#mobileNav{
    position: absolute; left: -300px;
}

#section{
    width: 100vw; height: 100vh; position: absolute;
    >div{position: relative; width: 100%; height: 100%;
        .main{position: relative; 
            width: 100%; height: 100%; z-index: -1;
            #mainVideo{
                width: 100%; height: 100%; object-fit: cover;
            }
            #videoText{ //  비디오 위 텍스트 필터
                position: absolute; inset: 0; display: grid; place-items: center; background-color: black;
                user-select: none; mix-blend-mode: multiply;
                color:white; font-weight: 900; font-size: 160px; letter-spacing: -20px; white-space: pre;
                font-family: 'IBM Plex Sans KR', sans-serif;
                
                animation: mainFade  6s forwards; animation-iteration-count: 1; 
                @keyframes mainFade {
                    0% {opacity: 1;}
                    30% {opacity: 1;}
                    100% {opacity: 0;}
                }
            }
        }
    }
}


#gotoMain{ // 우측 하단 gotoMain 버튼
    position: absolute; right: 2%; bottom: 2%; cursor: pointer;
    font-size: 30px;  padding: 10px 5px ; opacity: 0; z-index: 10; 
    &:hover{border: 1px solid white; border-radius: 30px;}
    &:hover i{color: #e4b51a;}
    i{
        margin-right: 10px;
        animation: scale infinite alternate linear; animation-duration: 1s;
        @keyframes scale {
            from { transform: scale(.9); }
            to { transform: scale(1.1); }
        }
    }
}
#updateDate{ // 좌측 하단 updateDate
    position: absolute; left: 0%; bottom: 0; z-index: 100; font-weight: bolder;
}
#changeEarth{ // 좌측 하단 earth 버튼
    position: absolute; left: -90px; bottom: 3.5%; width: 100px; height: 60px; 
    z-index: 3; cursor: pointer; background: rgba(255, 255, 255, .05);
    display: flex; justify-content: space-between; margin-bottom: 10px;
    transition: .5s ease-in-out;
    &:hover{left: 0%;}
    p{
        img{
            width: 50px; height: 50px; border-radius: 50%; margin-left: 10px;
            &:hover{box-shadow: 1px 1px 5px 1px #fff;}
        }
        &:nth-child(2){background: white; width: 10px; height: 100%;}
    }
}


#sectionLeft{ // lab
    width: 100%; height: 100%; position: absolute; z-index: 2; 
    clip-path: polygon(0 0, 25% 0, 35% 50%, 25% 100%, 0 100%, 0 50%); 
    div{
        top: 50%; transform: translateY(-50%); left: 5%;
    }
}
#sectionUp{  // my id
    width: 100%; height: 100%; position: absolute; z-index: 2;
    clip-path: polygon(25% 0, 75% 0, 65% 50%, 35% 50%); 
    div{
        top: 15%; left: 50%; transform: translateX(-50%);
    }
}
#sectionRight{ // portfolio
    width: 100%; height: 100%; position: absolute; z-index: 2;
    clip-path: polygon(100% 0, 75% 0, 65% 50%, 75% 100%, 100% 100%, 100% 50%); 
    div{
        top: 50%; transform: translateY(-50%);right: 5%;
    }
}
#sectionDown{ // SNS
    width: 100%; height: 100%; position: absolute; z-index: 2; 
    clip-path: polygon(25% 100%, 75% 100%, 65% 50%, 35% 50%); 
    div{
        top: 70%; left: 50%; transform: translateX(-50%);
    }
}



// ★ 서브페이지
// 포지션 위치
#Left{top: 0; left: -100%; }
#Up{top: -100%; }
#Right{top: 0; left: 100%; ;}
#Down{top: 100%; left: 0%; }


// ◀ sectionLeft 왼쪽
#Left{
    display: flex; flex-direction: column;
    h1{
        display: flex; justify-content: space-between;
        >p{
            height: 30px; color: #e4b51a; font-size: 30px;
        }
    }
}
// ■■■■■■■ 작업공간 ■■■■■■■■ 
#musicGallery{width: 100%; height: 100%; display: flex; align-items: center;}
#musicGallery .galleryBg{width: 2160px; height: 600px;display: grid; padding: 0; box-sizing: border-box; background: rgba(255, 255, 255, .2);
  grid-template-columns: repeat(3, 600px);
 
}
#musicGallery .itemBox{width: 600px; height: 300px;display: flex;position: relative;}
#musicGallery .item{width: 300px;height: 300px;background: #ddd;z-index: 2;}
#musicGallery .itemBox2{margin-left: 300px;}

#musicGallery .item-cd{
    border-radius: 50%; width: 300px;height: 300px;background: url(../img/color1.png) center center ;position: absolute; top: 0;left: 100px; z-index: 1; transition: 3s;
}

#musicGallery .itemBox:hover .item-cd{transition: linear 3s; transform: rotate(960deg);left: 280px; 

}

#musicGallery .itemBox .cd-1{width: 100%;height: 100%;position: relative; background: none;}
#musicGallery .itemBox .cd-1 .s-cd-1{width: 65px;height: 65px; position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%); background: rgba(0, 0, 0, .9); z-index: 3; border-radius: 50%;}





// ▲ sectionUp 위쪽
#Up{
    .movieContainer{width: 100%; height: 100%;
        video{width: 100%; height: 100%;}
    }
    #idCard{// idCard
            position: absolute;
            width: 90%; height: 90% ;background: rgba(36, 34, 34, 0.9);
            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
            // 원래 위치 ( top: 50%; left: 50%; transform: scale(1) translateX(-50%) translateY(-50%); )
            // 수정 위치 ( top: 0%; left: 0%; transform: scale(.2) translateX(-50%) translateY(-50%);)
            top: 0%; left: 0%; transform: scale(.2) translateX(-50%) translateY(-50%);
            transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
            display: flex; padding: 50px; box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.2);
            .profile{
                width: 25%; height: 100% ; ;box-sizing: border-box;
                display: flex; flex-direction: column;
                border-right: 1px solid white; 
                img{flex: 4; border-radius: 50%; padding: 40px; margin-left: -40px;}
                >h1{flex: 1;
                    p{text-align: center; font-size: 18px; color: white;}
                }
                div{flex:2; margin-top: 20px; border-top: 1px solid white;  box-sizing: border-box;
                    >h1{flex: 1;
                        p{text-align: center;}
                    }
                }
            }
            .rightBox{
                display: flex; flex-wrap: wrap;
                width: 75%; height: 100%;box-sizing: border-box;
                    div{padding: 50px 50px 0 50px; box-sizing: border-box;}
                    .hello{
                        width: 100%; height: 50%; padding: 30px 150px 50px 150px;
                        border-bottom: 1px solid white;
                        display: flex; flex-direction: column ;justify-content: center;
                        h2{font-size: 18px; margin-top: 20px; letter-spacing: 1px; line-height: 1.5;
                            em{display: block; margin-top: 20px;}
                        }
                        h3{margin-top: 40px; text-align: right;}
                    }
                    .skill{
                        width: 60%; height: 50%; display: flex; flex-direction: column;
                        border-right: 1px solid white;
                        h1{
                            flex: 1;
                            p{
                                display: flex; justify-content: center;
                                img{width: 50px; height: 50px; margin-right: 5%;}
                            }}
                    }
                    .experience{
                        width: 40%; height: 50%; margin-top: -50px;
                        display: flex; flex-direction: column; justify-content: space-around;
                        h2{
                            text-align: center; font-size: 15px;
                           
                        }
                    }
            }
        }
}



// ▶ sectionRight 오른쪽
#Right{
    display: flex; align-items: center; 
        >ul{
            z-index: 20; display: flex; flex-wrap: nowrap;
            width: 125%; height: 75%; margin: 50px ; box-sizing: border-box;
            >li{
                display: flex; flex-direction: column;
                flex: 0 0 21% ; height: 100%; margin: 0 25px; border: 1px solid white;
                padding: 15px; border-radius: 10px; box-sizing: border-box;
                opacity: 0; transition: .5s; 
                clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);
                color: #777; // ← 폰트컬러
                &:hover{border: 1px solid #3789cc;}
                div{flex: 5; width: 100%; height: 100%;
                    img{  width: 100%; height: 100%; border-radius: 10px; object-fit: fill;}
                }
                h1{flex: 1; margin-top: 10px;}
                h2{flex: 1;}
                h3{flex: 1;
                    p{font-size: 18px;}
                }
                h4{flex: 2.2; 
                    p{
                        
                        font-size: 15px; padding: 0 20px; margin-top: 10px;
                        font-weight: lighter; line-height: 1.6;}
                }
                h5{flex: .6;
                    a{
                        p{
                            i{font-size: 26px; font-weight: bold;}
                        }
                    }
                }
            }
        }
}
    .rightUl>li p{text-align: center; font-size: 20px; color: white;
        i{margin-right: 5px;}
    }
    h5>a>p:hover{color: #3789cc; transform: scale(1.4); transition: .3s; }


// ▼ sectionDown 아래쪽
#Down{

    .snsFrame{
        position: absolute;
        width: 50%; height: 50% ;background: rgba(255, 255, 255, .1);
        top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
        ul{
            width: 100%; height: 100%; display: flex; flex-wrap: wrap;
            li{
                position: relative; width: 50%; height: 50%; transition: .3s;
                display: flex; justify-content: center; align-items: center;
                cursor: pointer;
                &::after{ // border 애니메이션 
                    content: " "; position: absolute; top: 0; left: 0; width: 0; height: 10%;
                    border-top: 1px solid white; transition: .5s ease-in-out; text-align: center;
                    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                }
                &:hover{
                    background:  rgba(0, 0, 0, .4);
                    a{transform: scale(1);}
                }
                &:hover::after{width: 100%;}

                a{
                    display: flex; flex-direction: column; width: 100%; height: 100%; color: white;
                    transition: .5s ease-in-out; transform: scale(.9);
                    img{width: 100px; height: 100px; }
                    p{font-size: 30px;}
                }
                &:nth-child(1)::after{content: "웹개발에 관련된 소소한 팁과 일상 컨텐츠가 업로드되는 블로그";}
                &:nth-child(2)::after{content: "매일매일 심어가는 잔디의 뿌듯함";}
                &:nth-child(3)::after{content: "나만 없어 고냥이";}
                &:nth-child(4)::after{content: "청춘 비지니스 이야기";}
            }
        }
    }
}


// ■■■■■■■ 반응형 미디어 쿼리  ■■■■■■■■  
// ■■■■■■■ 반응형 미디어 쿼리  ■■■■■■■■  

// pc 리사이징
@media screen and (min-width: 1051px) and (max-width: 1700px){
    #Up{
        .movieContainer{width: 100%; height: 100%;
            video{width: 100%; height: 100%;}
        }
        #idCard{// idCard
                .rightBox{
                        .hello{
                            width: 100%; height: 60%; padding: 30px 20px 50px 40px;
                            h3{margin-top: 20px; text-align: right;}
                        }
                        .skill{
                            width: 60%; height: 40%; padding: 3%;
                            h1{
                                p{
                                    img{width: 40px; height: 40px; margin-right: 5%;}
                                }}
                        }
                        .experience{
                            width: 40%; height: 40%; padding: 5%;
                            h2{
                                &:nth-child(1){margin-top: 40px;}
                            }
                        }
                }
            }
    }
}

// 탭 
@media screen and (min-width: 551px) and (max-width: 1050px) {


// ★ 공통 영역
section{font-size: 40px; }

// 모바일 nav 안내
#mobileNav{
    left: 40px; top: 40px; opacity: .5; background: rgba(255, 255, 255, .1);
    width: 140px; height: 280px; border: 1px solid white; border-radius: 20px;
    div{
        width: 140px; height: 280px; position: relative; 
        >h1{position: absolute; font-size: 25px;}
        .Left{left: 0%; bottom: 50%; transform: translateY(50%);}
        .Up{left: 50%; top: 0%; transform: translateX(-50%);}
        .Right{right: 0%; bottom: 50%; transform: translateY(50%);}
        .Down{left: 50%; bottom: 0%; transform: translateX(-50%);}
    }
}
#section{
    >div{
        .main{
            #videoText{ //  비디오 위 텍스트 필터
              font-size: 120px; letter-spacing: -10px; 
            }
        }
    }
}

#sectionLeft{ // lab
    div{
        top: 50%; transform: translateY(-50%);  left: -5.5%;
    }
}
#sectionRight{ // portfolio
    div{
        top: 50%; transform: translateY(-50%); right: -5.5%;
    }
}


// ▲ sectionUp 위쪽
#Up{
    #idCard{// idCard
            overflow-y: scroll; 
            top: 17%; left: 19%; transform: scale(.3) translateX(-50%) translateY(-50%);
            flex-direction: column; padding: 50px 35px; 
            clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
            .profile{
                font-weight: lighter;
                width: 100%; height: fit-content  ;box-sizing: border-box; border-right: none;
                img{padding: 20px; margin-left: 0px;}
                div{
                    margin-top: 20px; font-weight: normal !important;}
            }
            .rightBox{
                display: flex; flex-direction: column; flex-wrap: nowrap;
                width: 100%; height: fit-content; box-sizing: border-box;
                font-weight: lighter;
                    div{width: 100%; padding: 0; box-sizing: border-box;}
                    .hello{
                        width: 100%; height: fit-content; padding: 0; margin-top: 100px;
                        h2{
                            font-size: 18px;
                        }
                        h3{margin: 70px 0;}
                    }
                    .skill{
                        width: 100%; height: fit-content ;border-right: none;
                        margin: 30px 0; padding: 50px 0; 
                        h1{
                           margin-bottom: 30px;
                           &:nth-child(1){margin-top: 40px;}
                            p{
                                img{width: 60px; height: 60px; margin-right: 5%;}
                            }}
                    }
                    .experience{
                        width: 100%; height: fit-content ;
                        margin-top: -30px; padding: 50px 0; border-top: 1px solid white;
                        h2{
                            text-align: center; font-size: 18px; line-height: 2.2;
                            &:nth-child(1){margin-top: 50px;}
                        }
                    }
            }
        }
}
#idCard h1{
    font-weight: lighter;
    p{font-weight: normal;}
}




// ▶ sectionRight 오른쪽
#Right{overflow-y: scroll; padding-bottom: 50px;
        >ul{
            flex-direction: row; flex-wrap: wrap; justify-content: space-around;
            width: 100%; height: 85%; margin: 27px; padding-top: 2px;
            >li{
                display: flex; flex-direction: column; flex-basis: 42%; 
                width: 100%; height: 85%;
                margin: 0; margin-bottom: 75px;
            }
        }
}


// ▼ sectionDown 아래쪽
#Down{
    .snsFrame{
        width: 80%; height: 80% ;
        ul{
            li{
                a{
                    img{width: 140px; height: 140px; }
                    p{font-size: 32px;}
                }
            }
        }
    }
}
}

// ipad pro
@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 1366px) and (max-height: 2048px) {
    #Right{
            >ul{
                >li{
                    h4{
                        p{
                            font-size: 15px; padding: 0 20px; margin-top: 70px;
                            font-weight: lighter; line-height: 1.6;}
                    }
                }
            }
    }
  }
  
// 미니 탭
@media screen and (min-width: 551px) and (max-width: 700px){
// ★ 공통 영역
section{font-size: 32px; }


#sectionLeft{ // lab
    div{
        top: 50%; transform: translateY(-50%);  left: -10%;
    }
}
#sectionRight{ // portfolio
    div{
        top: 50%; transform: translateY(-50%); right: -10%;
    }
}

// ▶ sectionRight 오른쪽
#Right{overflow-y: scroll; padding-bottom: 50px;
    >ul{
        flex-direction: row; flex-wrap: wrap; justify-content: space-around;
        width: 100%; height: 85%; margin: 27px; padding-top: 2px;
        >li{
            display: flex; flex-direction: column; 
            width: 100%; height: 80%;
            margin: 0; margin-bottom: 75px;
        }
    }
}
}

// 모바일 폰
@media screen and (max-width: 550px) {
    // ★ 공통 영역
    section{
        font-size: 25px; 
        div{
            width: 200px; 
            }
    }
    
    // 모바일 nav 안내
    #mobileNav{
        position: absolute; left: 20px; top: 20px; opacity: .5; background: rgba(255, 255, 255, .1);
        width: 70px; height: 140px; border: 1px solid white; border-radius: 10px;
        div{
            width: 70px; height: 140px; position: relative;
            >h1{position: absolute;}
            .Left{left: 0%; bottom: 50%; transform: translateY(50%);}
            .Up{left: 50%; top: 0%; transform: translateX(-50%);}
            .Right{right: 0%; bottom: 50%; transform: translateY(50%);}
            .Down{left: 50%; bottom: 0%; transform: translateX(-50%);}
        }
    }
    #section{
        >div{
            .main{
                #videoText{ //  비디오 위 텍스트 필터
                   
                   font-weight: 800; font-size: 60px; letter-spacing: -10px; white-space: pre;
                }
            }
        }
    }
    
    #sectionLeft{ // lab
        div{
            top: 50%; transform: translateY(-50%); left: -5%;
        }
    }
    #sectionRight{ // portfolio
        div{
            top: 50%; transform: translateY(-50%);right: -8%;
        }
    }


    // ◀ sectionLeft 왼쪽
    #Left{
        overflow-x: scroll;
    }

    
    // ▲ sectionUp 위쪽
    #Up{
        #idCard{// idCard
                position: absolute; overflow-y: scroll; 
                top: 20%; left: 24%; transform: scale(.4) translateX(-50%) translateY(-50%);
                width: 90%; height: 90% ;
                flex-direction: column; padding: 50px 35px; box-sizing: border-box;
                font-weight: lighter; font-size: 13px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
                .profile{
                    font-weight: lighter;
                    width: 100%; height: 100%  ;box-sizing: border-box; border-right: none;
                    img{padding: 20px; margin-left: 0px;}
                    div{
                        margin-top: 20px; font-weight: normal !important;}
                }
                .rightBox{
                    display: flex; flex-direction: column; flex-wrap: nowrap;
                    width: 100%; height: fit-content; box-sizing: border-box;
                    font-weight: lighter
                        div{width: 100%; padding: 0; box-sizing: border-box;}
                        .hello{
                            width: 100%; height: 70%; padding: 0; margin-top: 100px;
                            h2{
                                font-size: 18px;
                            }
                            h3{margin: 70px 0;}
                        }
                        .skill{
                            width: 100%; height: fit-content ;border-right: none;
                            margin: 30px 0; padding: 50px 0; 
                            h1{
                               margin-bottom: 30px;
                               &:nth-child(1){margin-top: 40px;}
                                p{
                                    img{width: 40px; height: 40px; margin-right: 5%;}
                                }}
                        }
                        .experience{
                            width: 100%; height: fit-content ;
                            margin-top: -30px; padding: 50px 0; border-top: 1px solid white;
                            h2{
                                text-align: center; font-size: 18px; line-height: 2.2;
                                &:nth-child(1){margin-top: 50px;}
                            }
                        }
                }
            }
    }
    #idCard h1{
        font-weight: lighter;
        p{font-weight: normal;}
    }
    
    
    
    
    // ▶ sectionRight 오른쪽
    #Right{overflow-y: scroll; padding-bottom: 50px;
            >ul{
                flex-direction: column; width: 100%; height: 85%; margin: 27px; padding-top: 2px;
                >li{
                    width: 100%; height: 100%; margin: 0; margin-bottom: 75px;
                }
            }
    }
    
    
    
    // ▼ sectionDown 아래쪽
    #Down{
        .snsFrame{
            width: 80%; height: 80% ;
            ul{
                li{
                    a{
                        img{width: 100px; height: 100px; }
                        p{font-size: 28px;}
                    }
                }
            }
        }
    }
    
    
    }